# Flutter / Dart 기본
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.sconsign.dblite
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
analysis_options.yaml

# FVM
.fvm/
.dart_tool/package_config.json
.pub-cache/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
Pods/
Podfile.lock
pubspec.lock
DerivedData/

# Android
.android/
gradle/
.gradle/
local.properties

# Web
web/.dart_tool/
web/build/

# VSCode
.vscode/

# Freezed, Json Serializable (build_runner로 생성된 파일)
**/*.g.dart
**/*.freezed.dart

# 로컬 DB (Sembast, Sembase, SQLite 등)
*.db
*.sqlite
*.sembast
*.sembase

# Supabase 관련
supabase/.temp/
.supabase/
.env
.env.*

# Mac 시스템 파일
.DS_Store

# Windows 시스템 파일
Thumbs.db